<div class="clan">
  <h2>Состав клана</h2>
  <ul>
    {{ $clanName := .cl }}
    {{ $response := getJSON (printf "https://api.neverfate.ru/sostav.php?function=sostav&cl=%s" $clanName) }}
    {{ range $index, $member := $response }}
      <li>
        <strong>Логин:</strong> {{ $member.login }}<br>
        <strong>Склонность:</strong> {{ $member.склонность }}<br>
        <strong>Боевой уровень:</strong> {{ $member.боевой_уровень }}<br>
        <strong>Местонахождение:</strong> {{ $member.местонахождение }}
      </li>
    {{ end }}
  </ul>
</div>



