{{/* Определение функции sostav */}}
{{ define "sostav" }}
  {{ $response := getJSON (printf "%s?function=sostav&cl=%s" $.Site.Params.apiEndpoint .cl) }}
  {{ $members := fromJSON $response }}
  {{ return $members }}
{{ end }}

{{/* Шаблон вывода состава клана */}}
{{ define "clan" }}
  <div class="clan">
    <h2>Состав клана</h2>
    <ul>
      {{ $clanMembers := template "sostav" . }}
      {{ range $index, $member := $clanMembers }}
        <li>
          <strong>Логин:</strong> {{ $member.login }}<br>
          <strong>Склонность:</strong> {{ $member.склонность }}<br>
          <strong>Боевой уровень:</strong> {{ $member.боевой_уровень }}<br>
          <strong>Местонахождение:</strong> {{ $member.местонахождение }}
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}


