<table>
    <tr>
    <td>{{ .Get "number" }}</td>
    <td>
        <a href="{{ .Get "alignLink" }}" target="_blank"><img src="{{ .Get "alignImage" }}" alt="Align Image"></a>
        <a href="{{ .Get "clanLink" }}" target="_blank"><img src="{{ .Get "clanImage" }}" alt="Clan Image"></a>
        <strong>{{ .Get "name" }}</strong>
        [{{ .Get "numberText" }}]
        <a href="{{ .Get "infLink" }}" target="_blank" title="Информация о персонаже"><img src="{{ .Get "infImage" }}" alt="Inf Image"></a>
        <span style="color: slategray;">{{ .Get "endText" }}</span>
      </td>
    </tr>
  </table>
  