<table>
    <tr>
    <td style="width: 19px;">{{ .Get "number" }}</td>
    <td>
        <a href="{{ .Get "alignLink" }}" target="_blank" title="Склонность персонажа"><img src="{{ .Get "alignImage" }}" alt="Align Image" width="15" height="15"></a>
        <a href="{{ .Get "clanLink" }}" target="_blank" title="Клан REmpire"><img src="{{ .Get "clanImage" }}" alt="Clan Image" width="24" height="15"></a>
        <strong>{{ .Get "name" }}</strong>
        [{{ .Get "numberText" }}]
        <a href="{{ .Get "infLink" }}" target="_blank" title="Информация о персонаже"><img src="{{ .Get "infImage" }}" alt="Inf Image" width="18" height="17"></a>
        <span style="color: slategray;">{{ .Get "endText" }}</span>
      </td>
    </tr>
  </table>
  